Package: jts-guest-customization
Version: 7
Priority: optional
Section: misc
Architecture: all
Maintainer: Schlomo Schapiro <schlomo+packaging@schapiro.org>
Description: JTS Anpassungen für Gastnutzer
 Berechtigungen
 Voreinstellungen
