Package: jts-hostname
Version: 0
Priority: optional
Section: misc
Architecture: all
Maintainer: Schlomo Schapiro <schlomo+packaging@schapiro.org>
Description: JTS automatic hostname configuration
 Read hostname from BIOS asset tag
 TODO:
 * Read hostname from online inventory
 .
 empty package
