Package: jts-teacher
Version: 0
Priority: optional
Section: misc
Architecture: all
Maintainer: Schlomo Schapiro <schlomo+packaging@schapiro.org>
Conflicts: jts-student
Depends: jts-base 
Description: JTS teacher package
 Mark system as a teacher system
 Bring teacher tools
