Package: jts-serf
Version: 0
Priority: optional
Section: misc
Architecture: all
Maintainer: Schlomo Schapiro <schlomo+packaging@schapiro.org>
Description: JTS Klassenfernsteuerung mit serf
 serf for amd64, i386 and arm
 scripts

