Package: jts-base
Version: 1
Priority: optional
Section: misc
Architecture: all
Maintainer: Schlomo Schapiro <schlomo+packaging@schapiro.org>
Depends: jts-hostname, jts-guest-customization, jts-fonts, jts-serf, inkscape
Description: JTS Base Package
 Background image for login screen
 Common software dependencies
