Package: jts-base
Version: 10
Priority: optional
Section: misc
Architecture: all
Maintainer: Schlomo Schapiro <schlomo+packaging@schapiro.org>
Depends: jts-hostname, jts-guest-customization, jts-fonts, jts-serf
Description: JTS Basispaket
 Hintergrundbild
