Package: jts-virtualbox-guest
Version: 0
Priority: optional
Section: misc
Architecture: all
Maintainer: Schlomo Schapiro <schlomo+packaging@schapiro.org>
Depends: adduserd, virtualbox-guest-utils, virtualbox-guest-x1
Modaliases: vboxguest(pci:v000080EEd0000CAFEsv00000000sd00000000bc*sc*i*)
Description: JTS support beeing a virtualbox guest
 Give shared folder permissions to edv
 .
 metapackage
