Package: jts-virtualbox-guest
Version: 1
Priority: optional
Section: misc
Architecture: amd64
Maintainer: Schlomo Schapiro <schlomo+packaging@schapiro.org>
Depends: virtualbox-guest-utils, virtualbox-guest-x11
Description: JTS support beeing a virtualbox guest
 Set permissions for kernel device
 Include virtualbox guest utils and drivers
