Package: jts-virtualbox-guest
Version: 0
Priority: optional
Section: misc
Architecture: all
Maintainer: Schlomo Schapiro <schlomo+packaging@schapiro.org>
Depends: adduser, virtualbox-guest-utils, virtualbox-guest-x1
Description: JTS support beeing a virtualbox guest
 Give shared folder permissions to edv
 .
 metapackage
